@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none; /*for Firefox */
}
::-webkit-scrollbar {
  width: 0;
}
.center-container {
  flex-direction: column;
  width: 25rem;
  padding: 0.6rem;
  max-height: 100%;
  box-shadow: 0rem 0rem 0.25rem 0.0625rem grey;
}
.btn {
  background-color: white;
  width: 4.5rem;
  height: 3rem;
  color: black;
  border-radius: 0;
  margin: 0rem 0.1rem;
}
.btn:hover {
  background-color: rgba(131, 131, 131, 0.35);
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.0625rem 0.3125rem;
}
.btn-dropdown {
  background-color: white;
  width: 100%;
  margin: 0rem 0.2rem;
  height: 2.5rem;
  color: black;
}
.btn-dropdown:hover {
  background-color: rgba(131, 131, 131, 0.35);
  color: black;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.062rem 0.31rem;
}
.remove-icon-img {
  width: 1.5rem;
}
.btn-blue {
  background-color: #6690ce !important;
}
.btn-blue:hover {
  background-color: #4b6da0;
  box-shadow: #6690ce 0rem 0.31rem 0.94rem;
}
.input-field {
  height: 7rem;
  font-size: 2.4rem;
  margin-top: 1rem;
  text-align: right;
  overflow-y: scroll;
  border: none;
  resize: none;
  background-color: #f8f9fa !important;
}
.trigono-img {
  transform: rotate(270deg);
  width: 1.1rem;
}
.fn-img {
  width: 1.2rem;
}
.btn-small {
  background-color: white;
  width: 4rem;
  height: 2.8rem;
  color: black;
  border-radius: 0;
  margin: 0.2rem 0.2rem;
  white-space: nowrap;
}
.btn-small:hover {
  background-color: rgba(131, 131, 131, 0.35);
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.062rem 0.31rem;
}
.sort-down-img {
  width: 0.6rem;
}
.memory-drawer {
  position: relative;
}
.drawer-content {
  position: absolute;
  width: 25rem;
  height: 26rem;
  text-align: right;
  z-index: 1;
  background-color: #f8f9fa;
  border: 0.01rem solid rgba(131, 131, 131, 0.35);
  border-radius: 0.5rem 1rem 0rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.03rem 0.31rem;
  display: none;
}
.close-btn {
  background-color: #f8f9fa;
}
.close-img {
  width: 1.2rem;
}
.delete-btn {
  padding: 0.2rem;
  background-color: #f8f9fa;
}
.delete-img {
  width: 1.3rem;
  height: 1.3rem;
}
.delete-btn-div {
  position: absolute;
  top: calc(100% - 3.2rem);
  right: 0.2rem;
}
.stored-nums-container {
  max-height: 75%;
  overflow: hidden;
  overflow-y: scroll;
}
